/* Header Styles */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 60px;
  height: 60px;
}


.search-button {
  background-color: white;
  color: green;
  border-color: green;
}

