/* Header Styles */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 60px;
  height: 60px;
}

.search-container {
  flex-grow: 1;
  max-width: 100%;
}

.search-input {
  width: 100%;
  max-width: 1100px;
  transition: width 0.3s ease-in-out;
}

.search-button {
  background-color: white;
  color: green;
  border-color: green;
}

/* Responsive Search Bar */
@media (max-width: 1200px) {
  .search-input {
    max-width: 800px;
  }
}

@media (max-width: 992px) {
  .search-input {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .search-input {
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .search-input {
    max-width: 250px;
  }
}
